[Unit]
Description=AshipaOS x86_64 Wayland display session
Wants=seatd.service dbus.service
After=seatd.service dbus.service
ConditionPathExists=/usr/bin/cage

[Service]
Type=simple
User=ashipa
Group=ashipa
SupplementaryGroups=video render seat
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=LIBSEAT_BACKEND=seatd
StandardOutput=journal+console
StandardError=journal+console
RuntimeDirectory=user/%U
RuntimeDirectoryMode=0700
ExecStart=/usr/libexec/ashipaos-display
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical.target
