[Unit]
Description=AshipaOS boot status endpoint
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/bin/busybox nc -ll -p 8080 -e /usr/libexec/ashipaos-boot-status-handler
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
